@use'./../../styles/mixins' as *;
*{
    box-sizing: border-box;
    //border: 1px solid black;
}

.pannel{
    @include desktop{
        margin: 2.5rem;
    }
}

.title{
    text-align: center;
    margin: 0;
    font-size: 18px;

    @include desktop{
        font-size: 30px;

    }
}

.container{
    margin: 1rem 0;

    @include desktop{
        display: flex;
        flex-direction: row;
    }
    &__left-card{
        width: 100%;
        text-align: center;

        @include desktop{
            width: 50%;
        }
        
    }
    &__right-card{
        width: 100%;
        padding: 0 1rem;

        @include desktop{
            width: 50%;
        }

    }
    &__p-title{
        margin: 0;
    }
    &__image{
        width: 200px;
        object-fit: contain;
        object-position: center;
        @include desktop{
            width: auto;
        }  
    }
  
    &__icon{
        width: 80px;
        height: 80px;
        object-fit: contain;
    }
    &__button-pannel{
        display: flex;
        column-gap: 1rem;
        justify-content: center;
        @include desktop{
            justify-content: left;
        }
    }
    &__button{
        height: 36px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 4px;
        border: none;
        background-color: #ffcf00;
        &:hover{
            background-color: black;
            color: white;
        }
        @include desktop{
            width: 170px;
            height: 48px;
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
        }
    }
}