*{
    box-sizing: border-box;
    //border: 1px solid black;
}
.hero{
    background:url('./../../assets/images/hero.jpeg');
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: center;
   

    &__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }
    &__text-header{
        font-size: 60px;
        font-weight: 800;
        margin: 0;
    }
    &__text-small{
        text-align: center;
        font-size: 22px;
        width: 50%;
        margin: 0;
    }
    &__button{
        width: 170px;
        height: 48px;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        border-radius: 4px;
        border: none;
        margin-top: 1.5rem;
        background-color: #ffcf00;
        //color: white;
        &:hover{
            background-color: black;
            color: white;
        }
    }
    &__icon-pannel{
        margin-top: 1.5rem;
        display: flex;
    }
    &__icon{
        height: 40px;
        margin: 0 0.5rem;
        
    }

}